body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

.image-stadium, .field {
    border: 3px solid #121212;
}

.image-stadium {
    width: 380px;
}

.text {
    font-style: italic;
    text-align: center;
}

.desc {
    width: 380px;
    margin: 15px 0 25px 0;
}

.field {
    width: 210px;
    height: 30px;
    text-align: center;
}

.btn {
    width: 220px;
    height: 40px;
    background-color: #121212;
    color: white;
    border: 0;
    margin: 7px 0 15px 0;
}

.btn:hover {
    opacity: 0.9;
}

a {
    color: #121212;
}